{{- if .Values.ingress.enabled }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "cloudform.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "cloudform.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- with .Values.ingress.className }}
  ingressClassName: {{ . }}
  {{- end }}
  {{- with .Values.ingress.tls }}
  tls:
    {{- range . }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}

  {{- /* local convenience: ingress values */}}
  # "cloudform-keycloak" 8080 removed because cloudform was not free - need to replace with another auth
  {{- with .Values.ingress }}
  {{- $mapping := dict
      "api" $.Values.portalApi.service.port
      "cloudform-backend" $.Values.terminalService.service.port
      "cloudform-frontend" $.Values.frontend.service.port
      "cloudform-vault" 8200
    }}
  rules:
    {{- range $host := .hosts }}
    - host: {{ $host.host | quote }}
      http:
        paths:
          {{- range $path := $host.paths }}
          {{- $backend := $path.backend }}
          {{- /* path.port overrides mapping; mapping fallback, final fallback 8080 */ -}}
          {{- $port := default 8080 (default (index $mapping $backend) $path.port) }}
          - path: {{ $path.path }}
            pathType: {{ $path.pathType }}
            backend:
              service:
                name: {{ $backend }}
                port:
                  number: {{ $port }}
          {{- end }}
    {{- end }}
  {{- end }}
{{- end }}