{{- if .Values.ingress.enabled }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "cloudform.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "cloudform.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ include "cloudform.fullname" $ }}-{{ .backend }}
                port:
                  number: {{ if eq .backend "api" }}{{ $.Values.portalApi.service.port }}{{ else if eq .backend "terminal-service" }}{{ $.Values.terminalService.service.port }}{{ else if eq .backend "frontend" }}{{ $.Values.frontend.service.port }}{{ else }}8080{{ end }}
          {{- end }}
    {{- end }}
{{- end }}