{{- if .Values.rbac.create -}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ printf "%s-full-access" .Release.Name }}
  labels:
    app.kubernetes.io/name: {{ include "cloudform.name" . | quote }}
    app.kubernetes.io/instance: {{ .Release.Name | quote }}
rules:
  - apiGroups:
      - "*"
    resources:
      - "*"
    verbs:
      - "*"
{{- end }}
