{{- if .Values.rbac.create }}
---
# Bind Portal API to its role in main namespace
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ printf "%s-full-access-binding" .Release.Name }}
  labels:
    app.kubernetes.io/name: {{ include "cloudform.name" . | quote }}
    app.kubernetes.io/instance: {{ .Release.Name | quote }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ printf "%s-full-access" .Release.Name }}
subjects:
  {{- if .Values.sharedServiceAccount.create -}}
  - kind: ServiceAccount
    name: {{ .Values.sharedServiceAccount.name | default "cloudform-shared-sa" }}
    namespace: {{ .Values.namespace | default "harbortech" }}
{{- end }}
{{- end }}